{
    "env": {
        "es6": true
    },
    "extends": "frost-standard",
    "globals": {
      "beforeEach": false,
      "afterEach": false,
      "describe": false,
      "it": false
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "never"
        ]
    }
}
